.i15p-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a39c93;
}

.i15p-container .i15p-iphone {
  position: relative;
  width: 230px;
  height: 410px;
  background: url(./iphone15pro.png) #fff;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-40deg) skew(20deg, 10deg);
  box-shadow: -120px 110px 5px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.i15p-container .i15p-iphone:hover {
  transform: rotate(-40deg) skew(20deg, 10deg) translate(30px, -30px);
  box-shadow: -150px 140px 10px rgba(0, 0, 0, 0.08);
}

.i15p-container .i15p-iphone::before {
  content: "";
  position: absolute;
  top: 0;
  left: -90px;
  width: 90px;
  height: 100%;
  background: url(text.png) #f2f2f2;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: right;
  transform: skewY(-43deg);
}

.i15p-container .i15p-iphone::after {
  content: "";
  position: absolute;
  bottom: -82px;
  left: 0;
  width: 100%;
  height: 82px;
  background: url(logo.png) #e5e5e5;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: top;
  transform: skewX(-47deg);
}
