.rb-container {
  font-family: "Poppins", sans-serif;
}
.rb-wrapper {
  position: relative;
  background: #111;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 10 0px;
}

.rb-box {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.33em;
  color: #222;
}

.rb-box:nth-child(odd):before {
  content: "* Happy Happy *";
}
.rb-box:nth-child(even):before {
  content: "2023";
  filter: hue-rotate(180deg);
}
