* {
  scroll-behavior: smooth;
}

.p1-container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

.p1-container.dark {
  --black: #fff;
  --black2: #444;
  --white: #333;
  --white2: #444;
}

.p1-container.dark p {
  color: var(--black);
}

.p1-container p {
  color: #777;
}

.p1-allBox {
  position: relative;
  width: 100%;
}

.p1-navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}
.p1-navigation.active {
  width: 0;
}

.p1-container.dark .p1-navigation {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.p1-navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.p1-navigation ul li {
  position: relative;
  width: 100%;
}

.p1-back {
  transform: translateY(80px);
  white-space: nowrap;
}
.p1-back::before {
  opacity: 0.2;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
}

.p1-navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}
.p1-navigation ul li a:hover {
  opacity: 1;
}

.p1-main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white);
  min-height: 100vh;
  transition: width 0.5s, left 0.5s;
}
.p1-main.active {
  width: calc(100% - 0px);
  left: 0px;
}

.p1-main .p1-topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: width 0.5s, left 0.5s;
}

.p1-container.dark .p1-main .p1-topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.p1-main .p1-topbar.active {
  width: calc(100% - 0px);
  left: 0px;
}
.p1-main .p1-topbar .p1-logo {
  color: var(--black);
  font-weight: 300;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.p1-main .p1-topbar .p1-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--black);
}

.p1-banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.p1-banner .p1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p1-banner .p1-imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.p1-banner .p1-imgBx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1-banner .p1-content h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--black);
  letter-spacing: 1px;
  font-weight: 300;
}

.p1-content p {
  font-size: 0.8em;
}

.p1-banner .p1-content .p1-btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  /* background: var(--black2); */
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
  z-index: 1;
}

.p1-banner .p1-content .p1-btn:hover {
  color: var(--white);
}

.p1-container.dark .p1-banner .p1-content .p1-btn:hover {
  color: var(--black);
}

.p1-banner .p1-content .p1-btn::before {
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 2%;
  background: var(--black);
  transition: 0.5s;
}
.p1-container.dark .p1-banner .p1-content .p1-btn::before {
  background: #2196f3;
}

.p1-banner .p1-content .p1-btn:hover::before {
  opacity: 1;
  height: 100%;
}

.p1-container.dark .p1-banner .p1-content .p1-btn:hover::before {
  background: #2196f3;
}

.p1-banner .p1-content .p1-socialMedia {
  position: absolute;
  bottom: 30px;
  display: flex;
}

.p1-banner .p1-content .p1-socialMedia li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-size: 1.2em;
}

.p1-container.dark .p1-banner .p1-content .p1-socialMedia li a:hover {
  background: #2196f3;
}
.p1-banner .p1-content .p1-socialMedia li a:hover {
  background: var(--black2);
  color: #fff;
}

.p1-adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--white);
  color: var(--black);
  display: inline-block;
}
.p1-title {
  width: 100%;
  text-align: center;
}

.p1-title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.p1-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: var(--black);
}

.p1-about .p1-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.p1-about .p1-content .p1-textBox {
  width: 49%;
  min-height: 49%;
}

.p1-about .p1-content .p1-imgBx {
  margin-left: 40px;
}

.p1-about .p1-content .p1-imgBx img {
  max-width: 100%;
}

.p1-services .p1-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.p1-services .p1-content .p1-serviceBox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white2);
  flex-direction: column;
}

.p1-container.dark .p1-services .p1-content .p1-serviceBox:hover {
  background: #2196f3;
}

.p1-services .p1-content .p1-serviceBox img {
  max-width: 50px;
}
.p1-container.dark .p1-services .p1-content .p1-serviceBox img {
  filter: invert(1);
}
.p1-services .p1-content .p1-serviceBox h2 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--blak);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.p1-services .p1-content .p1-serviceBox p {
  text-align: center;
}

.p1-project .p1-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.p1-project .p1-content .p1-workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.p1-project .p1-content .p1-workBx .p1-imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.p1-project .p1-content .p1-workBx:hover .p1-imgBx {
  transform: translateY(-100%);
}

.p1-project .p1-content .p1-workBx .p1-imgBx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1-project .p1-content .p1-workBx .p1-textBx {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}

.p1-container.dark .p1-project .p1-content .p1-workBx .p1-textBx {
  background: #444;
}

.p1-project .p1-content .p1-workBx:hover .p1-textBx {
  transform: translateY(0);
}

.p1-project .p1-content .p1-workBx .p1-textBx h3 {
  color: #fff;
  font-size: 1em;
}

.p1-tstimonials .p1-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.p1-tstimonials .p1-content .p1-testimonialsBox {
  background: var(--white2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.p1-container.dark .p1-tstimonials .p1-content .p1-testimonialsBox:hover {
  background: #2196f3;
}

.p1-tstimonials .p1-content .p1-testimonialsBox .p1-imgBx {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.p1-tstimonials .p1-content .p1-testimonialsBox .p1-imgBx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1-tstimonials .p1-content .p1-testimonialsBox p {
  font-style: italic;
}

.p1-tstimonials .p1-content .p1-testimonialsBox h4 {
  text-align: right;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7em;
  color: var(--black);
  line-height: 1.2em;
  font-weight: 600;
  border-right: 4px solid var(--black);
  padding-right: 10px;
}

.p1-tstimonials .p1-content .p1-testimonialsBox h4 span {
  text-transform: initial;
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.5em;
}
.p1-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.p1-contact .p1-contactForm {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.p1-contact .p1-contactForm .p1-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.p1-contact .p1-contactForm .p1-row2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.p1-contact .p1-contactForm .p1-row input,
.p1-contact .p1-contactForm .p1-row2 textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--black);
  background: var(--white2);
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.p1-contact .p1-contactForm .p1-row2 textarea {
  resize: none;
  height: 200px;
}

.p1-contact .p1-contactForm .p1-row2 input[type="submit"] {
  background: var(--black2);
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 150px;
  border: none;
}

.p1-container.dark
  .p1-contact
  .p1-contactForm
  .p1-row2
  input[type="submit"]:hover {
  background: #2196f3;
}

.p1-copyright {
  position: relative;
  bottom: 0;
  padding: 10px 40px;
  text-align: center;
}

/*p1-themeswitch*/
.p1-themeswitch {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 30px;
  height: 30px;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p1-themeswitch::before {
  content: "\f186";
  font-family: fontAwesome;

  font-size: 1.3em;
}

.p1-container.dark .p1-themeswitch::before {
  content: "\f185";
  font-family: fontAwesome;
}

.p1-themeswitch::after {
  content: "Switch To Dark Mode";
  position: absolute;
  left: 40px;
  font-size: 0.7em;
  color: var(--black);
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 1px;
  pointer-events: none;
}

.p1-container.dark .p1-themeswitch::after {
  content: "Switch To Light Mode";
}

/*Now, Make it responsive */

@media (max-width: 992px) {
  .p1-themeswitch {
    left: 20px;
  }
  .p1-navigation {
    left: -100%;
  }
  .p1-navigation.active {
    left: 0;
    width: 100%;
  }

  .p1-navigation ul {
    padding: 20px 20px;
  }
  .p1-main {
    width: 100%;
    left: 0;
  }
  .p1-main.active {
    left: 100%;
  }

  .p1-main .p1-topbar {
    width: 100%;
    left: 0;
    padding: 0 20px;
  }

  .p1-banner .p1-imgBx {
    width: 250px;
    height: 250px;
  }
  .p1-banner h3,
  .p1-banner p {
    text-align: center;
  }

  .p1-about {
    padding: 0 20px;
    margin-top: 80px;
  }

  .p1-about .p1-content {
    flex-direction: column;
  }

  .p1-about .p1-content .p1-textBox {
    width: 100%;
    min-width: 100%;
  }

  .p1-about .p1-content .p1-imgBx {
    margin-left: 0;
    margin-top: 20px;
  }

  .p1-about .p1-content .p1-imgBx img {
    width: 100%;
  }

  .p1-services .p1-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .p1-project .p1-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .p1-services .p1-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .p1-project .p1-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .p1-project .p1-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .p1-tstimonials .p1-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .p1-tstimonials .p1-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .p1-contact {
    margin-bottom: 100px;
  }

  .p1-contact .p1-contactForm .p1-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .p1-copyright {
    padding: 10px 20px;
  }
}
