@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.nl-container {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

.nl-container section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

.nl-container section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #0f0, #000);
  animation: bgAnimate 5s linear infinite;
}

@keyframes bgAnimate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.nl-container section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

.nl-container section span:hover {
  background: #0f0;
  transition: 0s;
}

.nl-container section .nl-signin {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.nl-container section .nl-signin .nl-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.nl-container section .nl-signin .nl-content .nl-titleBx {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nl-container section .nl-signin .nl-content h2 {
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
.nl-container section .nl-signin .nl-content .nl-link {
  position: absolute;
  right: 10px;
  font-size: 1em;
  font-weight: 700;
  color: #939393;
  transition: 0.5s;
}
.nl-container section .nl-signin .nl-content .nl-link:hover {
  color: #0f0;
  transition: 0s;
}
.nl-container section .nl-signin .nl-content .nl-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.nl-container section .nl-signin .nl-content .nl-form .nl-inputBx {
  position: relative;
  width: 100%;
}
.nl-container section .nl-signin .nl-content .nl-form .nl-inputBx input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.nl-container section .nl-signin .nl-content .nl-form .nl-inputBx i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.nl-container
  section
  .nl-signin
  .nl-content
  .nl-form
  .nl-inputBx
  input:focus
  ~ i,
.nl-container
  section
  .nl-signin
  .nl-content
  .nl-form
  .nl-inputBx
  input:valid
  ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.nl-container section .nl-signin .nl-content .nl-form .nl-links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nl-container section .nl-signin .nl-content .nl-form .nl-links a {
  color: #fff;
  text-decoration: none;
}
.nl-container section .nl-signin .nl-content .nl-form .nl-links a:nth-child(2) {
  color: #0f0;
  font-weight: 600;
}
.nl-container
  section
  .nl-signin
  .nl-content
  .nl-form
  .nl-inputBx
  input[type="submit"] {
  padding: 10px;
  background: #0f0;
  color: #111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nl-container section span {
    position: relative;
    display: block;
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
    background: #181818;
    z-index: 2;
  }
}
@media (max-width: 600px) {
  .nl-container section span {
    position: relative;
    display: block;
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
    background: #181818;
    z-index: 2;
  }
}
